// Colors
$fus-yellow: #ffc658;
$fus-yellow-alt: hsla(40, 100%, 56%, 1);
$fus-light-blue: #8e9fbc;
$fus-dark-blue: #1f2a44;
$fus-green: #21412a;
$fus-gold: #998643;
$black-87: rgba(0, 0, 0, .87);

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: #fafafa;
 }

 main {
   flex: 1 0 auto;
   background-color: #fafafa;
 }

 nav {
  background-color: #fff;
  height: 77px;
  line-height: 77px;
  border-bottom: 3px solid #998643;
  z-index: 0;

  ul {
    li {
      a{
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }

  .side-nav {
    .logo {
      height: 80px;
      &:hover {
        background-color: #fff;
      }
    }
  }
 }

 nav .brand-logo img {
   height: 68px;
   margin-top: 5px;
 }

 .italic {
  font-style: italic;
}

.bold {
  font-weight: 500;
}

.hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  width: 50%;
  display: block;
  margin: 0 auto;
}

 .btn {
   background-color: $fus-yellow-alt;
   &:hover, &:focus {
     background-color: $fus-yellow;
   }

 }

 .btn-inverse {
  background-color: transparent;
  border: solid 1px #fff;
  color: #fff;
  transition: all 0.3s;
  font-size: 21px;

  &:hover, &:focus {
    background-color: #fff;
    color: $black-87;
  }
}

#home {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/classroom-2000w.jpg');
  background-attachment: fixed;
  min-height: 90vh;
  background-position-x: center;
  background-size: cover;

  .arrow-row {
    position: absolute;
    width: 100%;
    bottom: 8px;
  }
}

#quote-banner {
  background-color: $fus-dark-blue;
}

#why-franciscan {
  .card-title {
    font-weight: 400;
  }
}

#alumni {
  background-color: $fus-yellow-alt;
}

footer {
  border-top: 5px solid $fus-gold;
  margin-top: 0px;
  padding-top: 0px;
  background-color: $fus-green !important;
  .row {
    margin-bottom: 0px;
    margin-top: 10px;
  }
}

.social {
  a {
    svg {
      // SVG Icon Color
      fill: #fff;
      // SVG Icon Size
      width: 42px;
    }
  }
}

.footer-copyright {
  background-color: darken($fus-green, 2%) !important;

  a {
    margin-right: 10px;
  }
}
