// Colors
$fus-yellow: #ffc658;
$fus-light-blue: #8e9fbc;
$fus-dark-blue: #1f2a44;
$fus-green: #21412a;
$fus-gold: #998643;

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: #fafafa;
 }

 main {
   flex: 1 0 auto;
   background-color: #fafafa;
 }

 nav {
  background-color: #fff;
  height: 77px;
  line-height: 77px;
  border-bottom: 3px solid #998643;
  z-index: 0;

  ul {
    li {
      a{
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }

  .side-nav {
    .logo {
      height: 80px;
      :hover {
        background-color: #fff;
      }
    }
  }
 }

 nav .brand-logo img {
   height: 68px;
   margin-top: 5px;
 }

 .heading {
   font-size: 30px;
 }

#home {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://photos-2.dropbox.com/t/2/AAD0hNHXEPwwbWtWIayDd75QL7_uSsGcyW5haVBjj-IlIQ/12/568244976/jpeg/32x32/3/1489539600/0/2/FUS0514-0723.jpg/ELyd3r4EGNVMIAIoAg/YdHbQZxqVY-bgBAeIHEJaCKdbEhx4YJ_1hOvjhiaMUU%2C_qMsoO-_NpGIOVSkC4FWlMzwFummmcKjM628MRt2mDM%2CSI9sycpZJTMOEj7hLIbYd7RmBKUshuxo8CfJ9vX32vY?dl=0&size=2048x1536&size_mode=3);
  background-attachment: fixed;
  min-height: 90vh;
}

footer {
  border-top: 5px solid $fus-gold;
  margin-top: 0px;
  padding-top: 0px;
  background-color: $fus-green !important;
  .row {
    margin-bottom: 0px;
    margin-top: 10px;
  }
}

.social {
  a {
    svg {
      // SVG Icon Color
      fill: #fff;
      // SVG Icon Size
      width: 42px;
    }
  }
}

.footer-copyright {
  background-color: darken($fus-green, 2%) !important;

  a {
    margin-right: 10px;
  }
}
